@import '/src/index.module.scss';

.MaterialItem__option {
  composes: ColorItem__option from './ColorItem.module.scss';
}

.MaterialItem__count {
  composes: ColorItem__count from './ColorItem.module.scss';
}

.MaterialItem__wrapper {
  composes: ColorItem__wrapper from './ColorItem.module.scss';
}

.MaterialItem__radio_relative {
  composes: ColorItem__radio_relative from './ColorItem.module.scss';
}

.MaterialItem__radio {
  composes: ColorItem__radio from './ColorItem.module.scss';
  border-radius: 0;
  border: 1px solid var(--radio-color);
  position: relative;
}

.MaterialItem__checkmark {
  composes: ColorItem__checkmark from './ColorItem.module.scss';
  left: 4%;
}
