@import '/src/index.module.scss';

.Price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 54px;
}

.Price__input {
  width: 270px;
}
.Price__window {
  border: 1px solid var(--checkbox-color);
  padding: 5px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto;
}

.Price__value {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 22px;
}

.Price__divider {
  margin-left: 6px;
  margin-right: 6px;
}

.Price__button {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
  margin-left: 20px;
  text-transform: uppercase;
}

.Price__input {
  display: inline-flex;
}

#minprice.Price__input {
  border-radius: 0 0 0 3px;
}

input#maxprice.Price__input {
}

.Price__input_container {
  display: inline-flex;
  flex-direction: row;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    position: relative;
    width: 80px;
    height: 2px;
    margin-left: -2px;

    -webkit-appearance: none;
    background-color: var(--main-color);
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 12px;
    -webkit-appearance: none;
    // background-image: url('../../../../icons/slider-thumb.svg');
    // background-repeat: no-repeat;
    color: var(--slider-color);
  }

  input[type='range']::-webkit-slider-thumb {
    width: 12px;

    -webkit-appearance: none;
    height: 12px;
    border-radius: 50%;
    cursor: ew-resize;
    background: #434343;
  }
}
