@import '/src/index.module.scss';

.Breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.14;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 22px;
  color: var(--add-color);
}

.Breadcrumbs__unit {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  text-transform: none;

  &:not(:last-child) {
    margin-right: 12px;

    &::after {
      content: '/';
      font-size: 14px;
      margin-left: 12px;
    }
  }

  &:hover::before {
    content: '';
    width: 100%;
    color: var(--main-color);
    border-bottom: solid 1px var(--main-color);
    position: absolute;
    left: 0;
    z-index: 20;
  }

  &:not(:last-child) {
    &:hover::after {
      content: '/';
      font-size: 14px;
      margin-left: 12px;
    }
  }
}

.Breadcrumbs__value {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: center;
}

.Breadcrumbs__icon {
  margin: 0;
}
