.App {
  text-align: center;
}

.App__main {
  display: flex;
  flex-direction: column;
  padding: 0px 17px;
  padding-top: 20px;
  @media screen and (min-width: 400px) {
    padding: 20px 10px 30px 20px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 30px, 13px, 30px, 15px;
  }
}

.App__body {
  display: flex;
  flex-direction: column;
}

.App__header {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  position: relative;
  padding-top: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    padding: 36px 0 21px 31px;
  }

  &::after {
    content: '';
    width: 100%;
    border-bottom: solid 1px var(--divider-color);
    position: absolute;
    left: 0;
    bottom: 21;
    z-index: 1;
  }
}
