:root {
  --shadow: 0px 8px 30px rgba(31, 28, 29, 0.1);
  --basic-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --add-shadow: 0px 8px 30px rgba(31, 28, 29, 0.1);
  --main-color: #121212;
  --add-color: #939393;
  --slider-color: #a9a9a9;
  --divider-color: #efefef;
  --checkbox-color: #cccccc;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --standard-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid tomato;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color);
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
}

button {
  display: block;
  margin: 0;

  &:hover {
  }
}

p,
span {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--main-color);
}
